html, body {
    margin: 5px;
    padding: 0;
}

h1, h2 {
	color: #0066A1;
}

span.answer, label.answer {
	color: #0066A1;	
	font-weight: bold;
}

div.resolution {
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #0066A1;
}
