<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>AtoS ABC CCC 🎄👪🦌🎅</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="CCC.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
		<h1>AtoS ABC CCC 🎄👪🦌🎅</h1>
	    	<p style="font-style: italic;">Requires Mozilla Firefox or Google Chrome</p>
		<div id="ccc">
			<h2>Please answer these questions:</h2>

			<div id="ccc_questions">
			
				<p>
					{{ ccc_0_question }}
					<select id="ccc_0_answer" v-model="ccc_0_answer" required>
						<option value="0500 CAUSE - APPLICATION FAILURE">0500 CAUSE - APPLICATION FAILURE</option>
						<option value="0505 CAUSE - ELECTRICAL FAILURE">0505 CAUSE - ELECTRICAL FAILURE</option>
						<option value="0510 CAUSE - HARDWARE OUTAGE">0510 CAUSE - HARDWARE OUTAGE</option>
						<option value="0515 CAUSE - LICENSE ISSUE">0515 CAUSE - LICENSE ISSUE</option>
						<option value="0520 CAUSE - NETWORK OUTAGE">0520 CAUSE - NETWORK OUTAGE</option>
						<option value="0525 CAUSE - USER ERROR">0525 CAUSE - USER ERROR</option>
						<option value="0526 CAUSE - WRONG TEMPLATE">0526 CAUSE - WRONG TEMPLATE</option>
						<option value="0530 CAUSE - WRONG DATA">0530 CAUSE - WRONG DATA</option>
						<option value="0540 CAUSE - DOCUMENTATION MISSING">0540 CAUSE - DOCUMENTATION MISSING</option>
						<option value="0545 CAUSE - DOCUMENTATION OBSOLETE">0545 CAUSE - DOCUMENTATION OBSOLETE</option>
						<option value="0560 CAUSE - ROOT CAUSE IDENTIFIED">0560 CAUSE - ROOT CAUSE IDENTIFIED</option>
						<option value="0565 CAUSE - ROOT CAUSE NOT IDENTIFIED">0565 CAUSE - ROOT CAUSE NOT IDENTIFIED</option>
						<option value="0570 CAUSE – MONITORING ALERT NOT RELEVANT">0570 CAUSE – MONITORING ALERT NOT RELEVANT</option>
						<option value="0591 CAUSE - KEYWORD1">0591 CAUSE - KEYWORD1</option>
						<option value="0592 CAUSE - KEYWORD2">0592 CAUSE - KEYWORD2</option>
						<option value="0635 RESOLUTION - KM DOCUMENT">0635 RESOLUTION - KM DOCUMENT</option>
					</select>
				</p>
			
				<p>
					{{ ccc_1_question }}  
					<input type="radio" id="ccc_1_yes" value="Yes" name="ccc_1" v-model="ccc_1_answer">
					<label for="ccc_1_yes" class="answer">Yes</label>
					<input type="radio" id="ccc_1_no"  value="No"  name="ccc_1" v-model="ccc_1_answer">
					<label for="ccc_1_no" class="answer">No</label>
				</p>

				<p>
					{{ ccc_2_question }}
					<input id="ccc_2_answer_text" name="ccc_2_answer" minlength="4" size="42" v-model="ccc_2_answer" required>
				</p>
				
				<p>
					{{ ccc_3_question }}
					<input id="ccc_3_answer_text" name="ccc_3_answer" minlength="4" size="42" v-model="ccc_3_answer" required>
				</p>
				
				<p>
					{{ ccc_4_question }}<br/>
					<input type="radio" id="ccc_4_yes" value="With confirmation from user" name="ccc_4" v-model="ccc_4_answer">
					<label for="ccc_4_yes" class="answer">With confirmation from user</label>
					<input type="radio" id="ccc_1_no"  value="Without confirmation from user"  name="ccc_4" v-model="ccc_4_answer">
					<label for="ccc_4_no" class="answer">Without confirmation from user</label>
				</p>
				
				<p>
					{{ ccc_5_question }}
					<input id="ccc_5_answer_text" name="ccc_5_answer" v-model="ccc_5_answer" required>
				</p>
				
				<button v-on:click="resetAnswers">Reset Answers</button>

			</div>
        
			<h2>Copy/paste the following in ticket resolution:</h2>
			<div id="ccc_message" class="resolution">
				<p>
				<span class="answer">{{ ccc_0_answer }}</span><br/><br/>
				{{ ccc_1_question }} <span class="answer">{{ ccc_1_answer }}</span><br/>
				{{ ccc_2_question }} <span class="answer">{{ ccc_2_answer }}</span><br/>
				{{ ccc_3_question }} <span class="answer">{{ ccc_3_answer }}</span><br/>
				{{ ccc_4_question }} <span class="answer">{{ ccc_4_answer }}</span><br/>
				{{ ccc_5_question }} <span class="answer">{{ ccc_5_answer }}</span><br/>
				</p>
			</div>
		</div>
		
        <script src="CCC.js"></script>
    </body>
</html>
